.container-principal{
    z-index: 1000;
    position: absolute;
    display: grid;
}
main{
    display: grid;
    justify-content: end;
    margin-top: 90px;
}
main > .planeta1{
    position: absolute;
    left: 50px;
    top: 270px; 
}

main > .lua{
    left: 1370px;
    top: 230px;
    width: 100px;
    height: 150px;
}

main > .planet{
    position: absolute;
    left: -4px;
    top: 500px;
    width: 170px;
    height: 230px;
}

main > .planeta1, .lua, .terra, .planet, .fire-planet{
    left: -90;
    animation: flutuacao 10s ease-in-out infinite;
} 

@keyframes flutuacao {
    0%, 100%{
        transform: translateY(0px);
    } 
    50%{
        transform: translateY(-120px);
    }
}