.buttons{
    display: flex;
    margin-top: 10px;
    gap: 20px;
}
.input-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons > a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 226.5px;
    height: 42px;
    background-color: #B2DF28;
    color: #252525;
    transition: 0.5s;
    border-radius: 5px;
}
.buttons > a:hover{
    letter-spacing: 3px;
    box-shadow:  0px 10px 25px -3px #b1df2823;
    transform: perspective(1em) rotate(5deg);
}

.menu-responsivo{
    display: none;
}

@media (max-width: 640px) {
    .buttons{
        display: flex;
        flex-direction: column;
    }
    .menu-responsivo{
        display: flex;
    }
    .dropi {
        background-color: #252525;
        color: #B2DF28;
        height: 20px;
        padding: 16px;
        font-size: 30px;
        border: none;
        border-radius: 10PX;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 15px;
    }
    .dropdown-menu{
        width: 40px;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
}
      .dropdown-content-menu{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      
      .dropdown-content-menu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content-menu a:hover {
        background-color: #f1f1f1;
      }
      
      .dropdown-menu:hover .dropdown-content-menu {
        display: block;
      }
      
    .menu-container{
        display: none;
    }



}