.container-cards-local{
    display: grid;
    width: 850px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    place-content: center;
    gap: 15px;
}

.localizacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .cardLocali {
    width: 250px;
    height: 154px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}
   
    .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   
.cardLocali:hover {
    border-color: #B2DF28;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
    */
