
.container-cards-person {
  display: grid;
  width: 850px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  place-content: center;
  gap: 15px;
}

/* FILTRO */

/* .dropbtn {
  background-color: #252525;
  color: #B2DF28;
  height: 20px;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10PX;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown {
  width: 40px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.drops{
  display: flex;
  gap: 70px;
} */
.option{
  color: #343434;
}
.personagens{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carregar{
  width: 250px;
  height: 45px;
  background-color: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 25px;
  color: #f1f1f1;
  cursor: pointer;
}

@media (max-width: 640px) {
  .container-cards-person{
      display: flex;
      grid-template-columns: none;
      place-content: none;
      width: 500px;
  }
}