*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: url(), auto; */
}
a{
    text-decoration: none;
    color: #fff;
}
input, input:focus {
    box-shadow: 0 0 0 0;
    border: 1px solid rgb(177, 223, 40);
    outline: 0;
    padding: 12px;
    width: 681px;
    height: 41px;
    border-radius: 20px;
    margin-bottom: 42px;
    background-color: #252525;
    color: #fff;
}

@media (max-width: 640px) {
    input, input:focus{
        width: 420px;
    }
}