body{
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: #DDDDDD;
}
header{
    background-color: #252522;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;

}
#root{
    /* background-color: #252522; */
}
.container{
    width: 100%;
    height: 100%;
}
.title-section{
    
}